<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chef ++</title>

  <link rel="stylesheet" type="text/css" href="stylesheets/demo.css">

  <style>

  </style>

</head>
<body>

  <div id="main">
    <nav v-bind:class="active" v-on:click.prevent>
      <img src="images/logos/SansSerifLogo-v2.png" id="delishlogo">
      <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
      <a href="#" class="rawInput" v-on:click="makeActive('rawInput')">Recipe Input</a>
      <a href="#" class="search" v-on:click="makeActive('search')">Recipes</a>
      <a href="#" class="about" v-on:click="makeActive('about')">About Us</a>
      <a href="#" class="login" v-on:click="makeActive('login')">Log In</a>
    </nav>
    <div>
      <p>{{msg}}</p>
    </div>

    <div v-if="active === 'home'">
      <p>This week's Favorites!</p>
    </div>

    <div v-else-if="active === 'search'">
      <div id=search_wrapper>
        <div class="bar">
          <input type="text" v-model="searchString" placeholder="" v-on:keyup.enter="search(searchString)"/>
        </div>  
        <button class="chefpp-button" v-on:click="search(searchString)">Search</button>
      </div>      
      <div id="recipeResultsWrapper">
        <div v-for="recipe in filteredRecipes" class='recipeBox'>
          <a v-bind:href="'recipe/' + recipe.id"><img v-bind:src="recipe.dish_image_url" /></a>
          <p >{{recipe.caption}}</p>
        </div>
      </div>
    </div>

    <div v-else-if="active === 'createAccount'">
      <div class="info">
       <input type="text" v-model="username" placeholder="Username" />
       <input type="password" v-model="password" placeholder="Password" />
       <input type="password" v-model="password_confirm" placeholder="Confirm your password" />
     </div>
     <form>
       <button class="chefpp-button" v-on:click="createAccount(username, password, password_confirm, $event)">Submit</button>
     </form>
    </div>

   <div v-else-if="active === 'rawInput'">

    <input type="text" class="chefpp_input" id="recipe_name" v-model="recipe_name" placeholder="Give Your Recipe A Name!">
    <div class="recipe_input_wrapper">

      <div class="ingredients_list_wrapper" >
        <h3>Ingredients</h3>
        <div class="ingredients_list_item" v-for="ingredient in ingredients">
          <button class=exit_button v-on:click="removeIngredient(ingredient)">X</button>
          <p>{{ingredient}}</p>
        </div>
        <input type="text" class=chefpp_input v-model="ingredient_input" v-on:keyup.enter="addIngredient()">
      </div>

      <div class="instructions_list_wrapper">
        <h3>Instructions</h3>
        <div class="instructions_list_item" v-for="instruction in instructions">
          <button class=exit_button v-on:click="removeInstruction(instruction)">X</button>
          <p>{{instruction}}</p>
        </div>
        <input type="text" class=chefpp_input v-model="instruction_input" v-on:keyup.enter="addInstruction()">
      </div>

    </div>
    <div>
    </div>
    <input type="button" onclick="location.href='http://web.stanford.edu/~kramerh/delish/index.html';" value="Submit" class="chefpp-button"/>
  </div>

  <div v-else-if="active === 'about'">
    <p>We are us</p>
  </div>
  <div v-else>
    <div v-if="!loggedIn" class="info">
     <input type="text" v-model="username" placeholder="Username" />
     <input type="password" v-model="password" placeholder="Password" />
   </div>
   <form>
     <button class="chefpp-button" v-if="!loggedIn" v-on:click="logIn(username, $event)">Log in</button>
     <button v-else @click.prevent="logOut">Log out</button>
     <button class="chefpp-button" v-if="!loggedIn" v-on:click="makeActive('createAccount')">Create Account</button>
   </form>
 </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.0/vue.min.js"></script>
<script >  window.favRecipes = <%- recipes %> </script>
<script type="text/javascript" src='javascripts/demo.js'></script>

</body>
</html>
